<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.leirach.acentos">

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.leirach.acentos.ExplanationActivity"
            android:parentActivityName="com.leirach.acentos.MainActivity"/>
        <activity
            android:name="com.leirach.acentos.CreditosActivity"
            android:parentActivityName="com.leirach.acentos.MainActivity" />
        <activity
            android:name="com.leirach.acentos.LeaderboardActivity"
            android:parentActivityName="com.leirach.acentos.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.leirach.acentos.MainActivity" />
        </activity>
        <activity
            android:name="com.leirach.acentos.ActivityHiato"
            android:parentActivityName="com.leirach.acentos.MainActivity" />
        <activity
            android:name="com.leirach.acentos.ActivityContext"
            android:parentActivityName="com.leirach.acentos.MainActivity" />
        <activity
            android:name="com.leirach.acentos.AnimationActivity"
            android:parentActivityName="com.leirach.acentos.MainActivity" />
        <activity
            android:name="com.leirach.acentos.ActivityReglaGeneral"
            android:parentActivityName="com.leirach.acentos.MainActivity" />
        <activity android:name="com.leirach.acentos.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>